This Application is a Todo list application.

Create a console application where you can:

- insert a task with a description. 
- delete a chosen task.
- consult the list of tasks inserted.
- exit from application.
- export on json file
{
    [
        {
            "index":"{value_index}",    
            "text":"{value_txt}"
        },
        {
            "index":"{value_index}",
            "text":"{value_txt}"
        }
    ]
    
}
